.features-section {
  padding: 2rem;
}

.title-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.title-container h2 {
  font-weight: 700;
  color: #183b56;
  font-size: 45px;
  margin: 0 0 15px;
  border-left: 5px solid #4E6BFF;
  padding-left: 15px;
}

.title-container p {
  font-size: 16px;
  color: #183b56;
  line-height: 1.6;
}

.feature-card {
  cursor: pointer;
  box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
  transition: ease all 0.35s;
  border-radius: 10px;
  height: 100%;
}

.feature-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  background: linear-gradient(145deg, #ceedfa, #f0f4f8);
}

.feature-card h5 {
  color: #183b56;
  font-weight: 600;
}

.icon-image {
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  color: #4e6bff;
  background-color: #eef4ff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature-card p {
  font-size: 16px;
  line-height: 1.6;
}

@media (max-width: 998px) {
  .features-section {
    padding: 1rem;
  }
}

@media (max-width: 576px) {
  .padding-0-css {
    padding: 0 !important;
  }
}


/* .single-services-box {
    position: relative;
    padding: 45px 35px;
    background-color: #1e1e1f;
    text-align: left;
    border-radius: 3px;
}.single-services-box:hover:before {
    transform: scaleX(1);
}.single-services-box:before {
    position: absolute;
    content: "";
    left: 0px;
    right: 0px;
    bottom: 0;
    min-width: 100%;
    border-bottom: 2px solid #ff6908;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    transform: scaleX(0);
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}.services-icon {
    margin-bottom: 20px;
}.services-item {
    margin-bottom: 30px;
}.services-text h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #ffffff;
    font-weight: 500;
}p {
    padding: 0;
    margin: 0;
    font-size: 15px;
    color: #c5c5c5;
    line-height: 24px;
    font-family: 'Jost', sans-serif;
} */

/* class="col-lg-4 col-md-6 services-item" */