.experience-section {
  background-image: url("../../../../Assets/experience.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2rem 1rem;
}

.contents .box {
  position: relative;
  padding: 20px;
  width: 100%;
  border: 1px solid #eaeaea;
  background-color: #fff;
  margin-bottom: 20px;
  transition: all 0.4s;
  cursor: pointer;
}

.contents .box:hover {
  box-shadow: 0px 3px 12px 0px #ccc;
  border: 1px solid transparent;
}

.contents .box::before {
  content: '';
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	right: calc(100% + 6.5px);
	top: -1px;
	background-color:  var(--color-text);
	border: 2.5px solid #ceedfa;
}

.box h4 {
  color: var(--color-text);
  font-weight: 700;
  font-size: 20px;
}

.box h3 {
  font-size: 18px;
  padding: 5px 0 5px;
  color: #444;
}

.box p {
  line-height: 1.5;
  color: #666;
  font-size: 16px;
}
